<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="cadenaConexion"
			 connectionString="server=localhostx;database=equipo8_comision_c;user=root;password=toor;SslMode=none;AllowPublicKeyRetrieval=true;"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>
